<li>
  {{artwork.artist}}'s {{artwork.title}} from {{artwork.location}}
  {{#if isImageShowing}}
    <p><img src={{artwork.image}} alt={{artwork.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
  {{update-artwork artwork=artwork update="update"}}
  <button {{action 'delete' artwork}}>Delete Artwork</button>
</li>
